* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFDDDE;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 62.5%;
}

.card {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: 700px;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px 40px 0;
}

.image {
    display: grid;
    align-self: center;
}

img {
    width: 100%;
    object-fit: cover;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 100px;
}

.formulario__label {
    color: #1A2E35;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 5px;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-bottom: 1px solid #1A2E35;
    font-size: 20px;
    height: 30px;
    padding: 0 40px 0 0;
    transition: .3s ease all;
}

.formulario__input:focus {
    border-radius: 5px;
    border: 1px solid #1A2E35;
    outline: none;
}

.formulario__input-error {
    font-size: .8rem;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: #1A2E35;
    z-index: 100;
    font-size: 1rem;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 5px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    font-size: 1rem;
    height: 45px;
    width: 30%;
    line-height: 45px;
    background-image: linear-gradient(to top, #f57878, #f68e92);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgb(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 16px;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* Estilos para validacion */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: green;
    opacity: 1;
    
}

.formulario__grupo-incorrecto .formulario__label {
    color: red;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: red;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid red;
}

/* Mediaqueries */

@media screen and (max-width: 1024px) {
    .card {
        grid-template-columns: 1fr;
        padding: 40px;
        width: 80%;
    }

    img {
        display: none;
    }

    .formulario {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: span 1;
    }
    
    .formulario__btn {
        width: 100%;
    }
}